.form-container {
    margin: 0 0 5px 0;

  width: 100%;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;

    margin-bottom: 10px;
}

.required::after {
    content: "*";
    color: red
}

.form-control {
  display: block;

    height: 30px;
    width: 100%;

  font-size: 20px;
}

.form-group input::placeholder {
  font-size: 14px;
  font-weight: 400;
}

.submit {
  width: 35%;

  background-color: #1976d2;
}
