.container {
  display: flex;
  align-items: center;

  position: relative;

  margin-bottom: 2vh;

  width: 100%;
}

.list-text {
  padding: 1vh 1vw;

  width: 16vw;

  color: #000;
  background-color: white;

  font-weight: 600;

  border: 1px hidden #666;
  border-radius: 3px;

  box-shadow: 5px 5px 20px rgb(198, 196, 196);
}

.list-text:hover {
  box-shadow: none;
  cursor: pointer;
}

.delete-icon {
  position: absolute;
  right: 2vw;

  color: red;

  cursor: pointer;
}

.delete-icon:hover {
  color: black;
}

.saved-tables a {
  color: black;
  text-decoration: none;
}

.saved-tables .list-text {
  box-shadow: none;
}

@media screen and (max-width: 768px) {
  .list-text {
    width: 70%;

    padding: 1vh 2vw;

    font-size: 14px;
  }

  .delete-icon {
    right: 15%;
  }

  .query .list-text,
  .history .list-text {
    font-weight: 400;
    font-size: 14px;
  }

  .query .list-text:active,
  .history .list-text:active {
    transform: scale(0.98);
  }
}

