.editor-header {
  display: flex;
  align-items: center;
}

.clear {
  margin-right: 0 !important;

  background-color: #ff0040;
}

.run {
  color: #1976d2 !important;
  background-color: white;

  border: 2px solid #1976d2 !important;
}

.save-run {
  background-color: #1976d2;
}
