.output-header {
  display: flex;
  align-items: center;
}

.export {
  margin-right: 0 !important;

  background-color: #1976d2;
}

.row-count {
  margin-right: 70px;
}

@media screen and (max-width: 1200px) {
  .output-header {
    flex-direction: column;
    align-items: flex-start;
  }
  
  .row-count {
    margin: 0 20px;
  }


  .export {
    margin: 0 !important;
  }
}







