.editor {
  height: 260px !important;

  counter-reset: line;

  border: 2px solid #a39d9d !important;

  overflow: scroll !important;
}

.editor #codeArea {
  outline: none;
  padding-left: 60px !important;
}

.editor pre {
  padding-left: 60px !important;
}

.editor .editorLineNumber {
  position: absolute;
  left: 0px;

  width: 40px;

  color: #757575;

  text-align: right;
  font-weight: 100;
}

@media screen and (max-width: 768px) {
  .editor {
    height: 100px !important;

    margin-right: 5vw;
  }

  .editor #codeArea {
    margin-right: 60px !important;
}
  
  .editor #codeArea,
  .editor pre {
    padding-left: 30px !important;
  }

  .editor .editorLineNumber {
    width: 20px;
  }
}
