.toolbar {
  display: flex;
  align-items: center;

  height: 64px;
  width: 100%;

  color: white;
  background-color: #1976d2;
}

.toolbar-text h5 {
  margin: 0;
  margin-left: 5vw !important;

  font-size: 28px;
  font-family: "Ubuntu", sans-serif !important;
  font-weight: 900;
}
